<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<p>글 제목 : {{post.title}}</p>
<p>글 내용</p>
{{post.content|linebreaksbr}}
<br>
<a href="/">돌아가기</a>
{%if request.user == post.user or request.user.is_staff %}
<a href="{%url 'update' post.id%}">글 수정</a>
<a href="{%url 'delete' post.id%}">글삭제</a>
{%endif%}

{% if user.is_authenticated %}
<form action="{%url 'c_create' post.id%}" method="POST">
    {%csrf_token%}
    <div class="input-group mt-5 mb-5">
        <input type="text" name="comment" class="form-control" placeholder="댓글을 입력하세요">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox" name="anonymous" value="y">
                <span style="font-size: 0.7em;">익명</span>
            </div>
        </div>
        <div class="input-group-append">
            <button class="btn btn-danger"><i class="fas fa-pencil-alt"></i>댓글</button>
        </div>
    </div>
</form>
{% endif %}

<ul class="list-group mb-2">
    {%for c in comment%}
    <li class="list-group-item list-group-item-light">
        {%if c.anonymous == True%}
				<!-- anonymous 필드 속성이   -->
        <span style="font-weight: bold;font-size:0.7em;">익명</span>
        {%else%}
        <span style="font-weight: bold;font-size:0.7em;">{{c.user}}</span>
        {%endif%}
        <br>
        {{c.content}}
    </li>
    {%endfor%}
</ul>